
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="static/css/navv.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="navbar">
	
	<div class="logo">
		<h2>COLORPOT</h2>
	</div>
	
	
	<ul class="links">
		<li><a href="#">Home</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Pages</a></li>
		<li><a href="#">Contact Us</a></li>
	</ul>
	
	
	<div class="right">
		<button>Dashboard</button>
	</div>
	
	<div class="toggle">
		<div class="line1"></div>
		<div class="line2"></div>
		<div class="line3"></div>
	</div>
	
	
</div>



<main>
	
	<div class="content">
		<h1>Made with Love</h1>
		<h2>by @themahabbat</h2>
	</div>
	
	<section>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi inventore optio explicabo. Unde tempora, est numquam optio nostrum molestiae hic repudiandae dolorum sunt. Tempore ut dolor voluptate quas impedit vel! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur dolore minus facilis id! Architecto quia ratione laudantium nam, ipsam assumenda dolorum quod tempora illo blanditiis hic molestiae et, beatae laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores temporibus aliquid odio sed at vel molestias laboriosam ea dolor nihil culpa debitis quas qui, hic quo incidunt excepturi ex recusandae!
	</section>
	
	
	
</main>
<!-- partial -->
  <script  src="static/js/navv.js"></script>

</body>
</html>
